{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalendarHitos</title>
    <link rel="stylesheet" href="../../static/miapp/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/miapp/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo">
        <img src="img/Logo.jpg">
    </div>        
    <div class="Calendario">
        <h1>AQUI VA EL CALENDARIO</h1>  
    </div>
    <div>
        <h2>PROXIMOS EVENTOS</h2>
        <div id="fila1" class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div id="col2" class="col">
                    <div class="card">
                        <h3>23 de marzo</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Consectetur adipiscing elit. Donec sodales mod lacus , tincidunt Suspendisse in nulla vel , molestie mini U vulputate in turpis ut efficitur .</p>
                    </div>
                </div>
                <div id="col3" class="col">
                    <div class="card">
                        <h3>24 de marzo</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Consectetur adipiscing elit. Donec sodales mod lacus , tincidunt Suspendisse in nulla vel , molestie mini U vulputate in turpis ut efficitur .</p>
                    </div>
                </div>
                <div id="col4" class="col">
                    <div class="card">
                        <h3>25 de marzo</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Consectetur adipiscing elit. Donec sodales mod lacus , tincidunt Suspendisse in nulla vel , molestie mini U vulputate in turpis ut efficitur .</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    

  <body>
    <div id="fila" class="row">
    <div id="Segmento" class="dropdown-container">
    <div id="col1" class="col-6">
        <div class="dropdown">
          <span>Segmento</span>
          <div class="dropdown-content">
            <div class="dropdown-arrow"></div>
            <a href="#">Opción 1</a>
            <a href="#">Opción 2</a>
            <a href="#">Opción 3</a>
          </div>
        </div>
    </div>  
    <div id="col2" class="col-6">
        <div class="dropdown">
          <span>Tipo</span>
          <div class="dropdown-content">
            <div class="dropdown-arrow"></div>
            <a href="#">Opción A</a>
            <a href="#">Opción B</a>
            <a href="#">Opción C</a>
          </div>
        </div>
    </div>
    </div>
    </div>
    

    <table style="width: 100%;">
        <tr>
            <th colspan="100%">Actividades</th>
        </tr>
        <tr>
            <td>Hito</td>
            <td>Fecha Inicio</td>
            <td>Fecha Término</td>
            <td>Tipo</td>
            <td>Segmento</td>
        </tr>
    </table>

    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>
